<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dispositivos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <ion-list *ngIf="!isLoading">
    <ion-card *ngFor="let dispositivo of dispositivos" (click)="verDetalle(dispositivo.dispositivoId)">
      <ion-card-header>
        <ion-card-title>{{ dispositivo.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ dispositivo.ubicacion }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>