<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dispositivos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <ion-list>
    <ion-item *ngFor="let dispositivo of dispositivos" (click)="verDetalle(dispositivo.dispositivoId)">
      <ion-label>
        <h2>{{ dispositivo.nombre }}</h2>
        <p>Ubicación: {{ dispositivo.ubicacion }}</p>
        <p>Estado de la válvula: {{ dispositivo.estadoValvula === 1 ? 'Abierta' : 'Cerrada' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>

