<p>listado-dispositivos works!</p>

<button (click)="serviceLogger.logInfo('hola')">Log info</button>
<button (click)="getDispositivos()">Obtener dispositivos</button>
<button (click)="toogle()">Mostrar texto</button>

<div *ngIf="mostrar; else elseBlock">texto a ocultar</div>
<ng-template #elseBlock>Texto condicional</ng-template>

<div *ngFor="let dispositivo of dispositivos; let i = index">
    <p>Indice: {{ i }}</p>
    <p>ID: {{ dispositivo.id }}</p>
    <p>Área: {{ dispositivo.area }}</p>
    <p>Descripción: {{ dispositivo.description }}</p>
</div>

<div appColorear>texto a colorear</div>

<!-- <div>{{ numero | elevar:3:2 }}</div>
<div>{{ dispositivos[0].id }}</div>
<div>{{ dispositivos[0].area | uppercase }}</div>
<div>{{ dispositivos[0].description }}</div> -->
