<!-- <label for="firstName">Nombre:</label>
<input type="text" [(ngModel)]="firstName">
<label for="lastName">Apellido:</label>
<input type="text" [(ngModel)]="lastName">


<div>Nombre: {{ firstName }} | Apellido: {{ lastName }}</div> -->

<!-- <label for="name">Name: </label>
<input type="text" [formControl]="name">

{{ name.value }} -->

<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="user">User: </label>
    <input type="text" formControlName="user">
    <label for="password">Password: </label>
    <input type="password" formControlName="password">
    <button type="submit">Submit</button>
</form> -->

<form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First name: </label>
    <input type="text" formControlName="firstName">
    <small class="error" *ngIf="regForm.controls.firstName.invalid && regForm.controls.firstName.touched && regForm.controls.firstName.dirty">
        El campo firstName es requerido</small>
    <label for="lastName">Last name: </label>
    <input type="text" formControlName="lastName">
    <label for="email">Email: </label>
    <input type="text" formControlName="email">
    <label for="password">Password: </label>
    <input type="text" formControlName="password">
    <button type="submit" [disabled]="regForm.invalid">Submit</button>
</form>
